.sign-up3-container1 {
  width: 100%;
  height: 800px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.sign-up3-max-width {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.sign-up3-container2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.sign-up3-sign-up-image {
  width: 100%;
  height: 100%;
}
 
.sign-up3-form-root {
  gap: var(--dl-space-space-unit);
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.sign-up3-form1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
 
.sign-up3-title-root {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up3-have-an-account-login1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
}
 
.sign-up3-form2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.sign-up3-email {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up3-textinput1 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
 
.sign-up3-password {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up3-textfield {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up3-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.sign-up3-hide-password {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
 
.sign-up3-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}
 
.sign-up3-textinput2 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
 
.sign-up3-text15 {
  font-size: 14px;
}
 
.sign-up3-container4 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
 
.sign-up3-terms-agree {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
}
 
.sign-up3-newsletter {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
}
 
.sign-up3-text20 {
  text-align: center;
}
 
.sign-up3-have-an-account-login2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
}
 
.sign-up3-text22 {
  display: inline-block;
}
 
.sign-up3-text23 {
  display: inline-block;
}
 
.sign-up3-text24 {
  display: inline-block;
}
 
.sign-up3-text25 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .sign-up3-container1 {
    gap: var(--dl-space-space-twounits);
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .sign-up3-container2 {
    width: 100%;
    height: var(--dl-size-size-xxlarge);
  }
  .sign-up3-form-root {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .sign-up3-button {
    width: 100%;
  }
}
